<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>quiz</title>
</head>
<body>
<header>

</header>
<nav role='navigation'>
  <span>Inicio</span>
  <span><a href="/quizes/question">Preguntas</a></span>
</nav>
<section>
  <%- body %>
</section>
<footer>
  <a href="#">¿Que es Quiz?</a>
</footer>
</body>
</html>
