<form method="get" action="/quizes">
  <input name="search" type="text" />
  <input type="submit" value="enviar" />
</form>
<table>
<% for (var i=0; i< quizes.length; i++){%>
<tr><td><a href="/quizes/<%=quizes[i].id %>"><%= quizes[i].pregunta%></a></td></tr>
<%}%>
</table>
