<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Question</title>
</head>
<body>
  <%= pregunta%>
  <form method="get" action="/quizes/answer">
    <input name="respuesta" type="text" />
    <input type="submit" value="enviar" />
  </form>
</body>
</html>
